body{
    background-image:url(../imagenes/imgbackground.jpg);
    background-attachment: fixed;
    margin: 0;
}

header{  
  /* background-color: rgb(255, 255, 255); */
  z-index: 1000;
  
 }

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px 5px 0px;
}

.logo {
    width: 150px;
    height: auto;
    margin: 10px 20px 0px 20px;
    border-radius: 100px;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  nav{
  position: sticky;
  top: 0;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2px 0px 2px 0px;
  /* margin-bottom: 20px;  */
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  z-index: 999;
}

nav ul{
  display: flex; 
  justify-content: center;
  padding: 2.5px;
  }

li{
    margin: 0px 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(12, 70, 70, 0.592);
    list-style: none;
    border-radius: 10px;
    background-color: rgb(240, 255, 255);
    padding: 5px 10px 5px 10px;
}

li a{
    text-decoration: none; 
    color: rgba(12, 70, 70, 0.592);
      }

.submenu {
    display: none;
    position: absolute;
  }

nav ul li:hover ul {
    display: flex;
    flex-direction:column;
}

.submenu li a {
  display: block;
  padding: 10px;
  left: 0;
  text-align: left;
}
  
h1{
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(87, 116, 126); 
   }

p{
    font-size: 40px;
    color: rgb(1, 54, 54);
    font-family:fantasy;
    font-style: italic;
   }

h2{
  font-size: 40px;
  font-style: italic;
  font-family:fantasy;
  color:rgb(63, 64, 68);
  margin: 55px 0px 25px 0px; 
}

h3{
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:left; 
  font-size: 35px;
  color:rgba(240, 255, 255, 0.741);
  margin:50px 0px 10px 5;
  background-color:rgb(1, 42, 86);
  max-width: fit-content;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
}

h4{
  font-style: italic;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 25px;
  margin: 10px 0px 10px;
  color: rgb(87, 116, 126)
}

hr{
  border: 1px solid rgba(12, 70, 70, 0.592);
  margin-top: -20px;
  margin-bottom: 20px;
}

.item {
  max-width: 600px;
  padding: 3px 40px 3px 40px;
  background-color:rgba(240, 255, 255, 0.781);
  border-radius: 30px;
  margin: 5px 0px 5px 0px;
}

.item p{
   margin: 8px 0px;
   display:inline-block;  
  }

.modelos {
  text-align:justify;
 width: 49%;
}

.price {
  text-align: right;
  width: 50%;
}

.modelos, .price {
  font-size: 25px;
  display:contents;
}

.seccion-mi{
  width:80%;
  margin: 30px auto 30px auto;
  max-width: 700px;
  padding: 20px;
  background-image:url(../imagenes/imgmujer2.2.jpg);
  border-radius: 15px;
}
.seccion-mii{
  width:80%;
  margin: 30px auto 30px auto;
  max-width: 700px;
  padding: 20px;
  background-image: url(../imagenes/imgmujer5.jpg);
  border-radius: 15px;
  background-size: cover;
  border-radius: 15px;
}

.seccion-miii{
  width:80%;
   margin: 30px auto 30px auto;
  max-width: 700px;
  padding: 20px;
  background-image: url(../imagenes/imgmujer4.jpg);
  border-radius: 15px;
  background-size: cover;
  border-radius: 15px;
}

.seccion-mi .item:hover, .seccion-mii .item:hover, .seccion-,.seccion-miii .item:hover {
  background-color:rgba(240, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.seccion-hi{
  width:80%;
  margin: 50px auto 50px auto;
  margin-right: auto;
  max-width: 700px;
  padding: 20px;
  background-image: url(../imagenes/imghombre1.jpg);
  border-radius: 15px;
  background-size:cover;
  border-radius: 15px;
  /* margin-bottom: 10px; */
}
.seccion-hii{
  width:80%;
    margin: 50px auto 50px auto;
  /* margin-right: auto; */
  max-width: 700px;
  padding: 20px;
  background-image: url(../imagenes/imghombre2.jpg);
  border-radius: 15px;
  background-size:contain;
  border-radius: 15px;
  /* margin-bottom: 10px; */
} 
.seccion-hiii{
  width:80%;
    margin: 50px auto 50px auto;
  /* margin-right: auto; */
  max-width: 700px;
  padding: 20px;
  background-image: url(../imagenes/imghombre3.jpg);
  border-radius: 15px;
  background-size:cover;
  border-radius: 15px;
  /* margin-bottom: 10px; */
}

.seccion-hi .item:hover, .seccion-hii .item:hover, .seccion-hiii .item:hover {
  background-color:rgba(240, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease; 
}

 .seccion-qs, .seccion-ni, .seccion-nii{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 20px; 
  border-radius: 15px;
  /* margin-top: 20px; */
  margin-bottom: 10px;
}

 .seccion-tmj{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 20px; 
  border-radius: 15px;
  /* margin-top: 100px; */
  margin-bottom: 10px;
}

 .seccion-tmc{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 20px; 
  border-radius: 15px;
  /* margin-top: 100px; */
  margin-bottom: 10px;
}

.seccion-ni .item:hover {
  background-color:rgba(240, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease; 
}

.justificado{
text-align: justify;
font-size:large;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.item-princ{
  max-width: 600px;
  padding: 3px 40px 3px 40px;
  background-color:rgba(240, 255, 255, 0.551);
  border-radius: 30px;
  margin: 5px 0px 5px 0px;
}

.redsoc, .final-text, a, em{
  font-size: 15px;
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-style:normal;
}

address {  
  text-align: center;
}

.redsoc a:hover {
  color:burlywood;
}

